<!DOCTYPE HTML>
<html>
    <head>
        <title></title>
        <h1>Ingredients Page</h1>
    </head>

    <body>
        
        <% @ingredients.each do |ing| %>
            <h2><%=link_to ing.name,ingredient_path(ing) %></h2>
        <% end %>

    </body>
</html>