<!DOCTYPE HTML>
<html>
    <head>
        <title></title>
        <h1>Ingredients Page</h1>
    </head>

    <body>
        
        <% @ingredients.each do |ing| %>
            <h2><%= ing.name %></h2>
        <% end %>

    </body>
</html>