<!DOCTYPE HTML>
<html>
    <head>
        <title>Show Page</title>
        <h1>Ingredient Information Page</h1>
    </head>

    <body>
        <%= @ingredient.name %>
        <h3>Used in the following Recipes:</h3>
        <ul>
            <% @ingredient.recipes.each do |recipe| %>
            <%= link_to recipe.name,recipe_path(recipe) %>
            <% end %>
        </ul>
        <h3>People Allergic to This Ingredient</h3>
        <ul>
        <% @ingredient.users.each do |user| %>
            <li><%= link_to user.name, user_path(user) %></li>
        <%end%>
        </ul>

        <%= link_to "All Ingredients",ingredients_path %>
    </body>
</html>